extends ./layout.jade

  
block content


	a.btn.btn-lg.btn-success(
		hre="#"
	) test

	a.btn.btn-primary(
		hre="#"
	) test

	a.btn.btn-default(
		hre="#"
	) default

	a.btn.btn-info(
		hre="#"
	) Info

	a.btn.btn-outline-info(
		hre="#"
	) Info
	
	
	h1.display-4 title
	h2 title
	h3 title
	h4 title
	h5 title
	h6 h1 title
	p.
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis debitis facere! Quae, mollitia?

	a(hre="#") link
